<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLKS.Properties.Settings.QuanLyKSConnectionString"
            connectionString="Data Source=DESKTOP-39EO6SP\SQLEXPRESS;Initial Catalog=QuanLyKS;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>